<!doctype html>
<html lang="en">
  {% include 'head.html' %}
  <body>
    
    <div class="container">

      <h1 class="display-4 text-center mt-4">T-cell COVID-19 Atlas (T-CoV)</h1>
      <div class="lead text-center">
        Browse how SARS-CoV-2 mutations affect
        CD8 and CD4 T-cell epitopes
      </div>
      
      <hr class="my-5">

      <div>
        <b>Frebruary 2022 update:</b> haplotype-level analysis is now avaiable on T-CoV.
        <a href="/haplotypes">
          Browse&nbsp;<i class="bi bi-chevron-right"></i>
        </a>
      </div>
      
      <div>
        <b>November 2021 update:</b> the Omicron variant is now avaiable on T-CoV.
      </div>
      
      <hr class="my-5">

      <h3 class="text-center">Individual allele-level analysis</h3>

      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Variant</th>
            <th>First detected</th>
            <th>GISAID accession</th>
            <th>CD8 epitopes (HLA&#8209;I)</th>
            <th>CD4 epitopes (HLA&#8209;II)</th>
          </tr>
        </thead>
        <tbody>
          {% for i, row in lineages.iterrows() if i != 0 %}
            <tr>
              <td>{{ row['Lineage'] }}</td>
              <td>{{ row['First detected'] }}</td>
              <td>
                {{ row['GISAID Virus name'] }}
                <br>
                {{ row['GISAID Accession ID'] }}
              </td>
              <td>
                <a href="/stats/{{ row['GISAID Accession ID'] }}?hla_class=HLA-I">
                  Browse&nbsp;<i class="bi bi-chevron-right"></i>
                </a>
              </td>
              <td>
                <a href="/stats/{{ row['GISAID Accession ID'] }}?hla_class=HLA-II">
                  Browse&nbsp;<i class="bi bi-chevron-right"></i>
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      
      <p>
        If your variant of interest is not present in the table above,
        please contact us at <a href="mailto: snersisyan@hse.ru">snersisyan@hse.ru</a>.
      </p>
      <p>
        Please cite this paper if you are using T-CoV in your work:
        <br>
        Nersisyan S, Zhiyanov A, Shkurnikov M, Tonevitsky A. T-CoV: a comprehensive portal of HLA-peptide interactions affected by SARS-CoV-2 mutations. <i>Nucleic Acids Research</i>, 2021. doi: <a href="https://doi.org/10.1093/nar/gkab701" target="_blank">10.1093/nar/gkab701</a>.
      </p>
      
    </div>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css" />
    <a class="github-fork-ribbon" href="https://github.com/s-a-nersisyan/TCellCovid19Atlas" target="_blank" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
    
    {% include 'footer.html' %}
  </body>
</html>
