<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    
    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/variant_stats.css') }}">
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-4 mt-4 mb-1 text-muted">
              <span>Go to protein:</span>
            </h6> 
            <ul class="nav flex-column">
              <li class="nav-item">
		<a class="nav-link" href="#Summary">
                  Summary
                </a>
              </li>
              {% for protein in proteins %}
                <li class="nav-item">
                  <a class="nav-link" href="#{{ protein }}">
                    {{ protein }}
                  </a>
                </li>
              {% endfor %}
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-4 mt-4 mb-1 text-muted">
              <span>Restrict output by HLA</span>
            </h6>
            <ul class="nav flex-column">
              {% for allele in alleles %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ gisaid_id }}/{{ allele }}">
                    {{ allele }}
                  </a>
                </li>
              {% endfor %}
            </ul>

	    <select class="nav flex-column">
              {% for allele in alleles %}
                <option onClick="window.location = '{{ gisaid_id }}' + '/' + '{{ allele }}'"> {{ allele }} </option>
              {% endfor %} 
            </select>
         </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <h1 id="#Summary">Summary</h1>
          {% set total_mut_num = mut.shape[0] %}
          <h2> This strain contains {{total_mut_num}} protein-levelmutations:</h2>
          <ul>
            {% for protein in proteins %}
              {% set mut_num = mut[mut["Protein"] == protein].shape[0] %}
              {% set mutations = "" %}
              {% set mut_df = mut[mut["Protein"] == protein]["Mutation"] %}
              <li><h4>{{ mut_num }} mutations in {{ protein }} protein: {{ mut_df|join(", ")}}</h4></li>
            {% endfor %}
          </ul>
          <h2>Total numbers of HLA-peptide interactions affected by mutations:</h2>
          <img src=" {{ url_for('static', filename='plots/' + gisaid_id + '_Summary' + '.png') }}" class="img-fluid" width="100% / 8" alt="Summary"/>
        
          {% for protein in proteins %}
            <h1 id="{{ protein }}">{{ protein }} protein</h1>
            <img src=" {{ url_for('static', filename='plots/' + gisaid_id + '_' + protein + '.png') }}" class="img-fluid" width="100% / 8" alt="{{ protein }}"/>
            {% set protein_df = df[df["Protein"] == protein]%}
            {% for (protein, aln_start, aln_end, mutation), df1 in protein_df.groupby(['Protein', 'Aln start', 'Aln end', 'Mutation']) %}
              <h2>{{ mutation }}</h2>
              
              <p><mark class="bg-success">Tight binding (IC<sub>50</sub> affinity &leq; 50 nM)</mark></p>
              <p><mark class="bg-warning">Moderate binding (IC<sub>50</sub> affinity &leq; 5000 nM)</mark></p>
              <p><mark class="bg-danger">Weak/no binding (IC<sub>50</sub> affinity > 500 nM)</mark></p>
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Allele</th>
                    <th>Reference peptide</th>
                    <th>Mutated peptide</th>
                    <th>Reference affinity (IC<sub>50</sub>, nM)</th>
                    <th>Mutated affinity (IC<sub>50</sub>, nM)</th>
                  </tr>
                </thead>
                <tbody>
                {% for _, row in df1.iterrows() %}
                <tr>
                  <td>{{ row['Allele'] }}</td>
                  <td>{{ row['Ref peptide'] }}</td>
                  <td>{{ row['Mut peptide'] }}</td>
                  
                  {% for aff in [row['Ref aff'], row['Mut aff']] %}
                    {% if aff == "-" or aff > 500 %}
                      {% set class_name = 'bg-danger' %}
                    {% elif aff > 50 %}
                      {% set class_name = 'bg-warning' %}
                    {% else %}
                      {% set class_name = 'bg-success' %}
                    {% endif %}
                    <td class="{{ class_name }}">{{ aff }}</td>
                  {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
              </table>      
            {% endfor %}
          {% endfor %}
       </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
          datasets: [{
            data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
            lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#007bff',
            borderWidth: 4,
            pointBackgroundColor: '#007bff'
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: false
              }
            }]
          },
          legend: {
            display: false,
          }
        }
      });
    </script>
  </body>
</html>
