<!doctype html>
<html lang="en">
  {% include 'head.html' %}

  <body style="position: relative;">

    <div class="container-fluid">
      <div class="row">
    
        {% include 'sidebar.html' %}

        <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4 mt-4">
          
          <h1 id="Summary">Summary</h1>
    
          {% if not allele %}
            {% set total_mut_num = mut.shape[0] %}
            <p>This strain contains {{total_mut_num}} protein-levelmutations:</p>
            <ul>
              {% for protein in proteins %}
                {% set mut_num = mut[mut["Protein"] == protein].shape[0] %}
                {% set mutations = "" %}
                {% set mut_df = mut[mut["Protein"] == protein]["Mutation"] %}
                <li>{{ mut_num }} mutations in {{ protein }} protein: {{ mut_df|join(", ")}}</li>
              {% endfor %}
            </ul>
            <h2>Total numbers of HLA-peptide interactions affected by mutations:</h2>
            <img src=" {{ url_for('static', filename='plots/' + gisaid_id + '_Summary' + '.png') }}" class="img-fluid" width="100% / 8" alt="Summary"/>
          {% else %}
            <p>Total numbers of {{ allele }}-peptide interactions affected by mutations:</p>
            <img src=" {{ url_for('static', filename='plots/' + gisaid_id + '_' + allele + '.png') }}" class="img-fluid" width="100% / 8" alt="{{ allele }}"/>
          {% endif %}
        
          {% for protein in proteins %}
            <h1 id="{{ protein }}">{{ protein }} protein</h1>
            
            {% if not allele %}
              <img src=" {{ url_for('static', filename='plots/' + gisaid_id + '_' + protein + '.png') }}" class="img-fluid" width="100% / 8" alt="{{ protein }}"/>
            {% endif %}

            {% set protein_df = df[df["Protein"] == protein]%}
            {% for (protein, aln_start, aln_end, mutation), df1 in protein_df.groupby(['Protein', 'Aln start', 'Aln end', 'Mutation']) %}
              <h3>{{ mutation }}</h3>
              
              <p><mark class="alert-success">Tight binding (IC<sub>50</sub> affinity &leq; 50 nM)</mark></p>
              <p><mark class="alert-warning">Moderate binding (50 nM < IC<sub>50</sub> affinity &leq; 500 nM)</mark></p>
              <p><mark class="alert-danger">Weak/no binding (IC<sub>50</sub> affinity > 500 nM)</mark></p>
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Allele</th>
                    <th>Reference peptide</th>
                    <th>Mutated peptide</th>
                    <th>Reference affinity (IC<sub>50</sub>, nM)</th>
                    <th>Mutated affinity (IC<sub>50</sub>, nM)</th>
                  </tr>
                </thead>
                <tbody>
                {% for _, row in df1.iterrows() %}
                <tr>
                  <td>{{ row['Allele'] }}</td>
                  <td>{{ row['Ref peptide'] }}</td>
                  <td>{{ row['Mut peptide'] }}</td>
                  
                  {% for aff in [row['Ref aff'], row['Mut aff']] %}
                    {% if aff == "-" or aff > 500 %}
                      {% set class_name = 'alert-danger' %}
                    {% elif aff > 50 %}
                      {% set class_name = 'alert-warning' %}
                    {% else %}
                      {% set class_name = 'alert-success' %}
                    {% endif %}
                    <td class="{{ class_name }}">{{ aff }}</td>
                  {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
              </table>      
            {% endfor %}
          {% endfor %}
       </div>
      </div>
    </div>

    {% include 'footer.html' %}

  </body>
</html>
