<!doctype html>
<html lang="en">
  {% set title = lineage %}
  {% include 'head.html' %}
  <style>
  ::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
      height: 7px;
  }

  ::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0,0,0,.5);
      -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  }
  </style>

  <body style="position: relative;">
    {% include 'top_menu_stats.html' %}

    <div class="container-fluid variant_stats">
      <div class="row">
    
        {% include 'sidebar_stats.html' %}

        <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4 mt-4">
          
          <h1 id="Summary">Summary</h1>
    
          {% set total_mut_num = mut_df.shape[0] | int %}
          {% if total_mut_num == 1 %}
            <p>This strain contains {{total_mut_num}} protein-level mutation:</p>
          {% else %}
            <p>This strain contains {{total_mut_num}} protein-level mutations:</p>
          {% endif %}
          
          <ul>
            {% for protein in all_proteins %}
              {% set mut_num = mut_df[mut_df["Protein"] == protein].shape[0] | int %}
              {% set mutations = "" %}
              {% set mut_protein_df = mut_df[mut_df["Protein"] == protein]["Mutation"] %}
              {% if mut_num == 1 %}
                <li>{{ mut_num }} mutation in {{ protein }} protein: {{ mut_protein_df|join(", ")}}</li>
              {% else %}
                <li>{{ mut_num }} mutations in {{ protein }} protein: {{ mut_protein_df|join(", ")}}</li>
              {% endif %}
            {% endfor %}
          </ul>

          <hr>
          
          <p>
            We identified all possible linear viral peptides affected by these mutations.
            Whenever it was possible, we matched the reference peptide with the mutated one.
            For example, D -> L mutation transformed S<b class="alert-primary">D</b>NGPQNQR to S<b class="alert-primary">L</b>NGPQNQR.
            Cases when it was not meaningful included deletions and insertions at the flanks of the peptide, 
            e.g., HV deletion in NVTWFHAI<b class="alert-primary">HV</b> peptide.
          </p>

          <p>
            Then, we predicted binding affinities between the selected peptides and frequent
            HLA alleles. Predictions were made with
            <a href="https://doi.org/10.1093/nar/gkaa379" target="_blank">NetMHCpan-4.1 and NetMHCIIpan-4.0</a>.
            The binding affinities were classifies into three groups:
          </p>

          <ol>
            <li class="py-1"><mark class="alert-success">Tight binding (IC<sub>50</sub> affinity &leq; 50 nM)</mark></li>
            <li class="py-1"><mark class="alert-warning">Moderate binding (50 nM < IC<sub>50</sub> affinity &leq; 500 nM)</mark></li>
            <li class="py-1"><mark class="alert-danger">Weak/no binding (IC<sub>50</sub> affinity > 500 nM)</mark></li>
          </ol>

          <p>
            Here we report HLA-peptide interactions whose affinity was altered by at least two folds.
            Note that mutations with empty set of altered interactions are not showed.
          </p>

          {% if not allele %}
            <h3>The total number of HLA-peptide interactions affected by the mutations</h3>
            <p>
              For each allele we calculated the number of peptides with increased and decreased
              affinitiy (two or more times). The absolute number of such peptides is showed on
              the left side of the figure 
              (<mark style="background-color: #1f77b4; color: white;">blue bars</mark> &mdash; weaker binding,
              <mark style="background-color: #ff7f0e; color: white;">orange bars</mark> &mdash; stronger).
            </p>
            <p>
              While absolute numbers are of interest, they do not reflect the initial number of tighly binding
              peptides for the specific allele. Roughly speaking, if an allele had high number of tight binders,
              then vanished affinity of several peptides will not affect much the integral ability of peptide
              presentation. To the contrary, low number of vanished peptides could be important if the particular
              allele initially had narrow epitope repertoire. To account for this effect, we normalized the absolute
              numbers of new/vanished tight binders (IC<sub>50</sub> affinity &leq; 50 nM) by the total number
              of tight binders for each allele. To avoid possible divisions by zero, we used + 1 regularization term
              in all denominators. For example, if some allele had no tight binders in the reference genome,
              and three new tight binders appeared as a result of the mutation, the relative increase will be 300%.
              The results are showed in the right part of the figure.
              Protein-specific plots are listed below.
            </p>
            <div class="btn-group" role="group" style="float: right;">
              <a class="btn btn-link" style="float: right;" href="{{ url_for('static', filename='plots/' + gisaid_id + '/' + hla_class + '/' + 'Summary' + '.png') }}" role="button" download>Download figure&nbsp;<i class="bi bi-download"></i></a>  
              <a class="btn btn-link" style="float: right;" href="{{ url_for('static', filename='tables/' + gisaid_id + '/' + hla_class + '/' + 'Summary' + '.csv') }}" role="button" download>Export data to csv&nbsp;<i class="bi bi-download"></i></a>
            </div>
            <img src=" {{ url_for('static', filename='plots/' + gisaid_id + '/' + hla_class + '/' + 'Summary' + '.png') }}" class="img-fluid" width="100% / 8" alt="Summary"/>
          {% else %}
            <h3>The total number of interactions between {{ allele }} and peptides affected by the mutations</h3>
            <p>
              Weaker binding 
              {% if allele_summary["Number of weaker binding"] == 0 %}
                was not found,
              {% elif allele_summary["Number of weaker binding"] == 1 %}
                was found for 1 epitope,
              {% else %}
                was found for {{ allele_summary["Number of weaker binding"] }} epitopes,
              {% endif %}
              while stronger binding
              {% if allele_summary["Number of stronger binding"] == 0 %}
                was found for 0 entries.
              {% elif allele_summary["Number of stronger binding"] == 1 %}
                was found for 1 entrie.
              {% else %}
                was found for {{ allele_summary["Number of stronger binding"] }} entries.
              {% endif %} 
              There
              {% if allele_summary["Number of tight binding"] == 0 %}
                is no tight binders for the {{ allele }} in the reference immunopeptidome (IC<sub>50</sub> affinity &leq; 50 nM).
              {% else %}
                {% if allele_summary["Number of tight binding"] == 1 %}
                  is 1 tight binder for the {{ allele }} in the reference immunopeptidome (IC<sub>50</sub> affinity &leq; 50 nM);
                {% else %}
                  are {{ allele_summary["Number of tight binding"] }} tight binders for the {{ allele }} in the reference immunopeptidome (IC<sub>50</sub> affinity &leq; 50 nM);
                {% endif %}
                {{ allele_summary["Number of weaker tight binding"] }} of them became non-tight binders ({{ '%0.1f'|format(allele_summary["Number of weaker tight binding"] / (allele_summary["Number of tight binding"] + 1) * 100) }}%) and 
                {% if allele_summary["Number of stronger tight binding"] == 1 %}
                  1 novel tight binder appeared ({{ '%0.1f'|format(1 / (allele_summary["Number of tight binding"] + 1) * 100) }}%).
                {% else %}
                  {{ allele_summary["Number of stronger tight binding"] }} novel tight binders appeared ({{ '%0.1f'|format(allele_summary["Number of stronger tight binding"] / (allele_summary["Number of tight binding"] + 1) * 100) }}%).
                {% endif %}
              {% endif %}
              To avoid possible divisions by zero, we used + 1 regularization term
              in denominators when calculating percentages.
            </p>

            <div class="btn-group" role="group" style="float: right;">
              <a class="btn btn-link" style="float: right;" href="{{ url_for('static', filename='plots/' + gisaid_id + '/' + hla_class + '/' + allele.replace('/', '_') + '.png') }}" role="button" download>Download figure&nbsp;<i class="bi bi-download"></i></a>  
              <a class="btn btn-link" style="float: right;" href="{{ url_for('static', filename='tables/' + gisaid_id + '/' + hla_class + '/' + allele.replace('/', '_') + '.csv') }}" role="button" download>Export data to csv&nbsp;<i class="bi bi-download"></i></a>
            </div> 
            <img src=" {{ url_for('static', filename='plots/' + gisaid_id + '/' + hla_class + '/' + allele.replace('/', '_') + '.png') }}" class="img-fluid" width="100% / 8" alt="{{ allele }}"/>
          {% endif %}
        
          {% for protein in affected_proteins %}
            <h1 id="{{ protein }}">{{ protein }} protein</h1>
            
            {% if not allele %}
              <div class="btn-group" role="group" style="float: right;">
                <a class="btn btn-link" style="float: right;" href="{{ url_for('static', filename='plots/' + gisaid_id + '/' + hla_class + '/' + protein + '.png') }}" role="button" download>Download figure&nbsp;<i class="bi bi-download"></i></a>
                <a class="btn btn-link" style="float: right;" href="{{ url_for('static', filename='tables/' + gisaid_id + '/' + hla_class + '/' + protein + '.csv') }}" role="button" download>Export data to csv&nbsp;<i class="bi bi-download"></i></a>
              </div> 
              <img src="{{ url_for('static', filename='plots/' + gisaid_id + '/' + hla_class + '/' + protein + '.png') }}" class="img-fluid" width="100% / 8" alt="{{ protein }}"/>
            {% endif %}

            {% set protein_df = df[df["Protein"] == protein]%}
            {% for (protein, aln_start, aln_end, mutation), df1 in protein_df.groupby(['Protein', 'Aln start', 'Aln end', 'Mutation']) %}
              <h3>{{ mutation }}</h3>
              {% set ref_block = mut_df[mut_df["Protein"] == protein][mut_df["Mutation"] == mutation]["Ref block"].iloc[0] %}
              {% set mut_block = mut_df[mut_df["Protein"] == protein][mut_df["Mutation"] == mutation]["Mut block"].iloc[0] %}
              {% set block_start = mut_df[mut_df["Protein"] == protein][mut_df["Mutation"] == mutation]["Block start"].iloc[0] | int %}
              {% set block_end = mut_df[mut_df["Protein"] == protein][mut_df["Mutation"] == mutation]["Block end"].iloc[0] | int %}
              {% set aln_end = ref_block | length %} 
              <p class="mt-3 p-3 border bg-light" style="overflow-x: scroll;">
                <span class="text-monospace">Reference&nbsp;&nbsp;{{ ref_block[:block_start].replace("-", "&#8209;") | safe }}<b class="alert-primary">{{ ref_block[block_start:block_end].replace("-", "&#8209;") | safe }}</b>{{ ref_block[block_end:].replace("-", "&#8209;") | safe }}</span>
                <br>
                <span class="text-monospace">{{ ("&nbsp;"*11) | safe }}{{ "|"*block_start }}{{ ("&nbsp;"*(block_end - block_start)) | safe }}{{ "|"*(aln_end - block_end) }}</span>
                <br>
                <span class="text-monospace">Mutated&nbsp;&nbsp;&nbsp;&nbsp;{{ mut_block[:block_start].replace("-", "&#8209;") | safe }}<b class="alert-primary">{{ mut_block[block_start:block_end].replace("-", "&#8209;") | safe }}</b>{{ mut_block[block_end:].replace("-", "&#8209;") | safe }}</span>
              </p>
              <a class="btn btn-link" style="float: right;" href="/stats/{{gisaid_id}}/download?hla_class={{ hla_class }}" role="button" download>Export table to csv&nbsp;<i class="bi bi-download"></i></a>
              
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Allele</th>
                    <th>Reference peptide</th>
                    <th>Mutated peptide</th>
                    <th>Reference affinity (IC<sub>50</sub>, nM)</th>
                    <th>Mutated affinity (IC<sub>50</sub>, nM)</th>
                  </tr>
                </thead>
                <tbody>
                {% for _, row in df1.iterrows() %}
                <tr>
                  <td>{{ row['Allele'] }}</td>
                  <td>{{ row['Ref peptide'] }}</td>
                  <td>{{ row['Mut peptide'] }}</td>
                  
                  {% for aff, aff_type in [(row['Ref aff'], row['Ref aff type']), (row['Mut aff'], row['Mut aff type'])] %}
                    {% if aff_type == "Weak/no binding" %}
                      {% set class_name = 'alert-danger' %}
                    {% elif aff_type == "Moderate binding" %}
                      {% set class_name = 'alert-warning' %}
                    {% else %}
                      {% set class_name = 'alert-success' %}
                    {% endif %}
                    <td class="{{ class_name }}">{{ aff }}</td>
                  {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
              </table>      
            {% endfor %}
          {% endfor %}
       </div>
      </div>
    </div>

    {% include 'footer.html' %}

  </body>
</html>
