/* Scrollbar */

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/* Variant statistics page */

.topmenu {
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
}

.variant_stats h1[id] {
  padding-top: 56px;
}

.variant_comparison h1[id] {
  padding-top: 56px;
}

.sidebar {
  position: fixed;
  top: 56px;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

  overflow-y: scroll;
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 56px);
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.selectpicker {
  z-index: 2000;
}

/* Comparison page */

/* Input page */

.blue-btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color:#007bff
}

.blue-btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color:#0062cc
}

.blue-btn-primary.focus, .blue-btn-primary:focus {
  box-shadow:0 0 0 .2rem rgba(0, 123, 255, .5)
}

.blue-btn-primary.disabled, .blue-btn-primary:disabled {
  color: #fff;
  background-color: #007bff;
  border-color:#007bff
}

.blue-btn-primary:not(:disabled):not(.disabled).active,
.blue-btn-primary:not(:disabled):not(.disabled):active,
.show > .blue-btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
  border-color:#005cbf
}

.blue-btn-primary:not(:disabled):not(.disabled).active:focus,
.blue-btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .blue-btn-primary.dropdown-toggle:focus {
  box-shadow:0 0 0 .2rem rgba(0, 123, 255, .5)
}

/* Footer */

footer .hse img {
  height: 75px;
}

footer .bcpro_app img {
  height: 55px;
}

footer a {
  text-decoration: none;
}
